.task-container {
    padding-left: 10px;
    padding-right: 10px;
}

.task-card {
    max-width: 35%;
    min-width: 250px;
    float: left;
    margin: 5px;
}

.task-checkbox {
    float: left;
    width: 50px;
}

.add-button {
    margin: 5px;
    float: right;
}