<nav>
  <h1>
    {{title}}
  </h1>
</nav>
<md-sidenav-container>
  <md-sidenav mode="side" opened="true">
    <div class="button-row">
        <button class="nav-button" md-button routerLink="/" routerLinkActive="active">Home</button>
        <button class="nav-button" md-button routerLink="/login" routerLinkActive="active">Log In</button>
        <button class="nav-button" md-button routerLink="/property" routerLinkActive="active">Property</button>
        <button class="nav-button" md-button routerLink="/property/add" routerLinkActive="active">Property Form</button>
        <button class="nav-button" md-button routerLink="/people" routerLinkActive="active">People</button>
    </div>
  </md-sidenav>

  <section>
    <router-outlet></router-outlet>
  </section>
</md-sidenav-container>

<h2 class="footer-title">
  Footer
</h2>